body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

.player {
  border-radius: 7px;
  position: relative;
}

.layout-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

#container2 .player {
  width: 100vw;
  height: 50vh;
  line-height: 50vh;
}

#container3 .player {
  width: 100vw;
  height: 33.3333vh;
  line-height: 33vh;
}

#container4 .player {
  width: 50vw;
  height: 50vh;
  line-height: 50vh;
  float: left;
}

#container5 .player {
  width: 100vw;
  height: 20vh;
  line-height: 10vh;
}

#container6 .player {
  width: 50vw;
  height: 33.333vh;
  line-height: 33vh;
  float: left;
}

.v-center {
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.layout-container span {
  font-size: 18em;
}

#container5 span {
  font-size: 8em;
}
#container6 span {
  font-size: 8em;
}

.dropdown {
  position: fixed !important;
  z-index: 2;
}

#counter0 {
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg); 
  -o-transform:rotate(-180deg); 
  transform:rotate(-180deg);
}

.modal-custom {
  font-size: 6em;
}

.btn-xl {
  padding: 18px 28px !important;
  font-size: 22px !important;
  font-weight: bolder !important;
  border-radius: 8px !important;
}
